- if @user.persisted? && @user.unconfirmed_email?
  - @user.email = @user.unconfirmed_email

= form_for @user, html: {autocomplete: "off"} do |f|

  %fieldset.contacts
    %p
      = f.label :email, :class => 'required'
      = f.email_field :email, :required => true
      %br
      %span.formnote
        = t("notes.user_email")

  %fieldset.password
    %p.set_password
      %span.col.password>
        = f.label :password
        = f.password_field :password, :placeholder => t("placeholders.user.password"), :required => false, :data => {:role => "password"}

      %span.col{:data => {:role => "confirmation"}}>
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :required => false

      %span.formnote
        = t :leave_password
  
    %p.note.password_notice

  %fieldset.buttons
    = f.submit t(:save_changes)
    = t :or
    = link_to t(:cancel), '#', class: "cancel"