#account
  %h1.pagetitle
    =t :choose_new_password

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    %p
      =t :new_password_introduction

    %p
      = f.label :password, t(:password_instructions)
      %br
      = f.password_field :password, :autocomplete => "off", :class => 'preferences password required', :required => true
      %br
      %span.formnote
        = t :password_requirements
    
    %p{:class => 'confirmation'}
      = f.label :password_confirmation, t(:password_confirmation_instructions)
      %br
      = f.password_field :password_confirmation, :autocomplete => "off", :class => 'preferences required'
      %br
      %span.formnote
        = t :password_confirmation_requirements

    %p.notice
      You must choose a password before you can proceed (unless you remember your old one: in that case you can just log in).
        
    .controls
      .save.button
        %p
          = f.submit t(:set_password), :class => "submit"
